header {
    display: flex;
    padding: 1em;
    flex-direction: column;
    align-items: center;
}

.sidebar, .main, footer {
    padding: 20px;
}

.sidebar {
    background-color: lightgrey;
}

.main {
    background-color: ivory;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
}

@media screen and (min-width:768px) { /*デスクトップ用*/
    header {
        flex-direction: row;
    }

    .container {
        display: flex;
    }

    .sidebar {
        width: 300px;
        order: 2
    }

    .main {
        flex: 1;
        order: 1;
    }
}